:root {
    margin: 0;
    padding: 0;
    --main-font: 'Open Sans', sans-serif;
}
 
body { 
    font-family: var(--main-font);
}

main {
    margin-top: 88px;
    margin: 80px;
}

h2 { 
    color: #E1624F;
    font-size: 16px;
    font-style: bold;
    text-align: left;
    margin-bottom: 4px;
    height: 30px;   
}

h1 {
    color: black;
    font-size: 36px;
    font-style: normal;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 20px;
    height: 49px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 28px;    
    margin-top: 20px;
    margin-bottom: 12px;
}

main p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 4px;
}

.subtitle{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 40px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
    margin-bottom: 64px;
  }

.container h2 {
    height: 22px;  
    margin-bottom: 2px;
    font-style: normal;
}

.container h1 {
    height: 44px;  
    margin-bottom: 8px;
    font-style: normal;
}

.container p {
    color: #333333;
    text-align: left;
    font-style: normal;
    font-size: 16px;
}


.titulo {
    font-size: 28px;
    text-align: top left;
    font-weight: bold;
}

.history {
    color: #0C51A7;
    text-align: left;
}

.couples {
    color: #591B98;
    text-align: left;
}

.family {
    color: #E5245E;
    text-align: left;
}

.budget {
    color: #E95E10;
    text-align: left;
}

footer {
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

strong {
    
}
/* root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 88px;
    margin: 80px;
}

h1 {
    height: 30px;      
    font-size: 16px;
    color: #E1624F;
    margin-bottom: 8px;
    font-style: bold;
    text-align: left;
}

h2 {
    font-size: 36px;
    height: 57px;
    color: black;
    text-align: left;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}
  
.container img {
    width: 100%;
    height: auto;
    border-radius: 28px;    
}

.container p {
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 24px;
}

.dividerDois {
    width: 100%;
    height: 1px;
    margin: 64px 0;
    background-color: #d9d9d9;
}

.containerDois img {
    width: 100%;
    height: auto;
    border-radius: 28px;    
}

.containerDois p {
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    text-align: left;
    padding-top: 0;
}

.containerDois h1 {
    height: 24px;
    font-size: 16px;
    margin-bottom: 8px;
}

.containerDois h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

li {
    font-size: 28px;
    font-style: bold;
}

.containerTres img {
    width: 100%;
    height: auto;
    border-radius: 28px;    
}


#historia{
    color: #0C51A7;
}

#casais {
color: #591B98;
}

#familias{
    color: #E5245E;
}

#orçamento {
    color: #E95E10;
}


.dividerTres {
    width: 100%;
    height: 1px;
    margin: 64px 0;
    background-color: #d9d9d9;
}

footer {
    text-align: center;
    margin: 65px 0 48px;
  } */